.container
{
  position:  relative;
  width:auto;
  height:1000px;
}

/* Contact Stylings */
.contact
{
  width: 900px;
  padding: 10px;
  margin: 0;
  position: absolute; 
}

.contact-info
{
  width: 900px;
  padding: 10px;
  margin: 0;
  top: 450px;
  position: absolute;
  border: 2px solid white;
}

/* Bio Stylings */
.portfolio-bio-container
{
  border:  2px;
  width: 900px;
  padding: 10px;
  margin: 0;
  position: absolute; 
  top: 125px;
  left: 750px; 
}

.portfolio-background
{
  background-color: #11121c;
}

.portfolio-text
{
  color: #d7d9db;
  font-family: 'TeX';
}

.portfolio-skills
{
  border:  2px;
  width: 900px;
  padding: 10px;
  margin: 0;
  position: absolute; 
  top: 600px; 
}

.portfolio-img
{
  border:  2px;
  position: absolute;
  left:  15px;
  height:  500px;
  width: 700px;
}


/* Navbar Stylings */

.navbar
{
  border:  2px solid white;
  position: relative;
  height: 50px;
  width: auto;
  background-color: white;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Projects Stylings */

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-item-wrapper
{
  position: relative;
  
  height: 350px;
  width: auto;
}

.project-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;

}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: #d7d9db;
  font-family: 'TeX';
  font-weight: 600;
}

.logo-wrapper img {
  width: 90%;
  margin-bottom: 20px;
}
