<!doctype html>
<html lang="en">
<script src="https://unpkg.com/scrollreveal"></script>
  <head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Noah Reef's Portfolio Site</title>

    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <body class="portfolio-background">
    <div class="navbar portfolio-text">
      <a href="/"> About Me! </a>
      <a href="/projects"> Projects </a>
      <a href="/donate" target="__blank"> Donate </a>
      <a href="/contact"> Contact </a>
    </div>
    {% block body %}{% endblock %}
  </body>


</html>